{% extends 'main/base.html' %}

{% block title %}Погодное приложение{% endblock %}

{% block content %}
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-1">
                    <h2>Погода в любом городе мира</h2>
                    <form action="">
                        <label for="city">Город</label>
                        <input type="text" id="city" class="form-control" name="city" placeholder="Введите город:">
                        <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-danger">
                    </form>
                </div>
                <div class="col-4 offset-1">
                    <h2>Информация</h2>

                    {% for info in all_info %}
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-9">
                                <b>Город:</b> {{ info.city }}<br>
                                <b>Температура:</b> {{ info.temp }}<sup>o</sup><br>
                            </div>
                            <div class="col-2 offset-1">
                                <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="photo weather">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}